body {
background-color:#2D4154;
}

ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: rgb(255, 255, 255) }
a:visited {
  color: rgb(255, 255, 255) }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }